<!--  This file is app/views/users/index.html.erb -->

<h2>All Users</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="users">
  <thead>
    <tr>
      <th>Users</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.username %>
        </td>
        <td>
          <%= link_to 'View collectibles', user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
