<!--  app/views/users/open_case.html.erb -->
<h2><em><%= @user.username %></em> Case Opening</h2>

<table class="table table-striped col-md-12" id="users">
<tbody>
</tbody>
</table>

<div class="row">
  <%= link_to 'Back to user list', users_path, :class => 'btn btn-primary col-2' %>
</div>