<!--  app/views/users/show.html.erb -->
<h2><em><%= @user.username %></em> Collectibles</h2>

<table class="table table-striped col-md-12" id="users">
<tbody>
    <% @collectibles.each do |collectible| %>
      <tr>
        <td>
          <%= collectible.name %>
        </td>
      </tr>
      <tr>
        <td>
          <img src=<%= collectible.url%> width=auto height="250">
        </td>
      </tr>
    <% end %>
</tbody>
</table>

<div class="row">
  <%= link_to 'Back to user list', users_path, :class => 'btn btn-primary col-2' %>
</div>