/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Colors
Background Grays:
Base: #202225
Secondary: #2F3136
Tertiary: #36393F
Hover/Active: #4F545C
Text field: #40444B

Fonts:
Inactive: #8E9297
Active: #fff
Text:muted: #72767D
Hover: #DCDDDE

Buttons:
Lightup Green:#43B581
Info Blue: #3498DB
Link Blue: #00B0F4;
Warn Red: #F04747;
 */

nav {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #202225;
    font-family: 'B612', sans-serif !important;
    color: #fff;
    border-color: #72767D;
    border-radius: 5px !important;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

h2 {
    font-size: 16px;

}

h4 {
    font-size: 36px;
    font-weight: 800;
    color: #fff;
}

h3, .h3 {
    font-size: 12px;
    font-weight: 400;
    color: #8E9297;
}

input, select, textarea {
    background-color: #40444B;
    border: none;
    color: #fff;
    font-size: 12px;
}

textarea:focus, input:focus {
    background-color: #40444B;
    border: none;
    color: #fff;
}

input:-webkit-autofill
{
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #40444B inset;
}

thead, tbody {
    font-size: 12px;
}

tbody {
    color: #8E9297;
}

.user-link:link, .user-link:visited, .user-link:hover, .user-link:active {
    color: #00B0F4;
}

.container-fluid {
    background: #36393F;
    max-width: 1200px;
    padding-top: 12px;
    padding-left: 12px;
    border-color: #72767D;
    padding-bottom: 12px;
}

.bottom-padding {
    padding-bottom: 20px;
}

.top-buffer {
    margin-bottom: 20px;
}

.modal-custom {
    width: 345px;
    margin: auto;
    justify-content: center;
}

.bounce-in {
    animation: bounce-in-top 1.75s linear 0s;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}