/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Colors
Background Grays:
Base: #202225
Secondary: #2F3136
Tertiary: #36393F
Hover/Active: #4F545C
Text field: #40444B

Fonts:
Inactive: #8E9297
Active: #fff
Text:muted: #72767D
Hover: #DCDDDE

Buttons:
Lightup Green:#43B581
Info Blue: #3498DB
Link Blue: #00B0F4;
Warn Red: #992D22;
 */

nav {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #202225;
    font-family: 'B612', sans-serif !important;
    color: #fff;
    border-color: #72767D;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

h2, h3 {
    font-size: 16px;
    font-weight: 400;
    color: #8E9297;
}

h4 {
    font-size: 36px;
    font-weight: 800;
    color: #fff;
}

h3 {
    font-size: 12px;
}

input, select, textarea {
    background-color: #40444B;
    border: none;
    color: #fff;
}

textarea:focus, input:focus {
    background-color: #40444B;
    border: none;
    color: #fff;
}

thead, tbody {
    font-size: 12px;
}

tbody {
    color: #8E9297;
}

a:link, a:visited, a:hover, a:active {
    color: #00B0F4;
}

.container-fluid {
    background: #36393F;
    max-width: 1200px;
    padding-top: 12px;
    padding-left: 12px;
    border-color: #72767D;
}

.bottom-padding {
    padding-bottom: 20px;
}

.top-buffer {
    margin-bottom: 20px;
}

.modal-custom {
    width: 375px;
    margin: auto;
    justify-content: center;
}
