/* Colors
Background Grays:
Base: #202225
Secondary: #2F3136
Tertiary: #36393F
Hover/Active: #4F545C
Text field: #40444B

Fonts:
Inactive: #8E9297
Active: #fff
Text:muted: #72767D
Hover: #DCDDDE

Buttons:
Lightup Green:#43B581
Info Blue: #3498DB
Link Blue: #00B0F4;
Warn Red: #992D22;
 */

.card-img-top, .card-img-top-short {
    width: 100%;
    height: 12vw;
    object-fit: contain;
}

.card-img-top-short {
    height: 10vw;
}

.img-fluid {
    height: 14vw;
    padding-top: 10px;
}

.card {
    width: 14rem;
    font-size: 11px;
    background-color: #2F3136;
    color: #8E9297;
}

